eval_backend: VLMEvalKit
eval_config:
  model: 
    - type: qwen-vl-chat   # model id of the model
      name: CustomAPIModel # Don't change, must be CustomAPIModel for deploy evaluation
      api_base: http://localhost:8000/v1/chat/completions # deployed model api
      key: EMPTY
      temperature: 0.0
      img_size: -1
      img_size: -1
  data:
    - MMStar
    - COCO_VAL
    - AI2D_TEST
    - POPE
    - RealWorldQA
    - SEEDBench2_Plus
  mode: all
  limit: null
  rerun: false
  work_dir: outputs
  nproc: 8
  # judge model server config
  # OPENAI_API_KEY: EMPTY
  # OPENAI_API_BASE: http://localhost:8866/v1/chat/completions # judge model api
  # LOCAL_LLM: qwen2-7b-instruct                               # judge model type