# pip3 install --no-dependencies -r requirements.txt
absl-py
# auto-gptq==0.4.2
cachetools
datasets>=2.14.5
editdistance
jsonlines
matplotlib
modelscope>=1.9.5,!=1.12.0
nltk
openai
pandas
plotly
pyarrow
pympler
pyyaml
regex
requests
requests-toolbelt
rouge-score
sacrebleu
scikit-learn
seaborn
sentencepiece
simple-ddl-parser
streamlit
tabulate
tiktoken
torch
tqdm
transformers
transformers_stream_generator
jieba
rouge-chinese
fuzzywuzzy
python-Levenshtein
