absl-py
alibaba_itag_sdk
dashscope
editdistance
jsonlines
jsonlines
nltk
openai
pandas==1.5.3
pyarrow
pyodps
pyyaml
regex
requests==2.28.1
requests-toolbelt==0.10.1
rouge-score
sacrebleu
scikit-learn
simple-ddl-parser
transformers
tqdm
streamlit
plotly
seaborn