absl-py
accelerate
dashscope
editdistance
jsonlines
nltk
openai
pandas
plotly
pyarrow
pyyaml
regex
requests
requests-toolbelt
rouge-score
sacrebleu
scikit-learn
seaborn
seaborn
sentencepiece
simple-ddl-parser
streamlit
torch
tqdm
transformers
transformers_stream_generator
